<html>
	<head>
		<style>
			h2, p {
				text-align: center;
				font-family: "Verdana";
			}
			
			pre {
				background-color: #FFFFCC;
			}
		</style>
	</head>
	<body>
		<h2>
			Niaks
		</h2>
		
		<p>Site du projet :</p>
		<pre>http://code.google.com/p/ai-niaks/</pre>
		
		<p>D&eacute;p&ocirc;t SVN du projet :</p>
		<pre>http://ai-niaks.googlecode.com/svn/trunk/</pre>
		
		<p>
			CHAMBARETAUD Maxime<br />
			MAULNY Julien<br />
			2013<br />
		</p>
	</body>
</html>